.card-title{
    font-weight: 500;
    font-size: 26px;
}

.c-header{
    height: 20em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-header img {
    width: 400px;
    max-height: 300px;

}

.card-text{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30em;
}

.btnEliminar{
    background: #A91E09;
    width: 10em;
    height: 3em;
}

.btnEditar{
    background: #0017E5;
    width: 10em;
    height: 3em;
}

.btnEliminar:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.btnEditar:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    width: 35em;
    padding: 0px;
    margin: 3em;
    flex-wrap: wrap;
}
.body-card{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 10em;
    align-items: center;
}

.card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 16px;
}
p{
    font-size: 20px;
}