.card-title{
    font-weight: 500;
    font-size: 26px;
}

.btnEliminar{
    background: #A91E09;
}

.btnEditar{
    background: #0017E5;
}

.btnEliminar:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.btnEditar:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}