h4{
    color: #D0D0D0;
}

.card{
    color: #D0D0D0;
    background: #005686;
    height: 100%;
    width: 32em;
}
.btn{
    background: #038400;
    border-radius: 20px;
}
.btn:hover{
    background:#038400;
    transform: scale(1.2);
    transition: scale 2s;
}

.nav-link{
    color: #16CDCF;
}